<li class="list-group-item" style=" background-color: #437aaa; color: whitesmoke; font-size: 20px;">
    <span class="friendText" f_id="{{reference_user_id}}">Jane Doe</span>
    <a href="/chat" class="badge badge-success" style="background-color: #0dcaf0;">Chat</a> 

    <a href="#" class="badge badge-success profileButton" style="background-color: #0dcaf0;" f_id="{{reference_user_id}}" >Profile</a>
</li>