<div id="home">
  <div class="landing-text">
    <h1>WELCOME TO WOOFER!</h1>
    <h3>A place for pets and their owners to meet</h3>
    <a href="#" class="btn btn-default btn-lg" id="signupButton">Sign Up</a>
    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#exampleModal">Login</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="loginButton">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-primary" id="loginSubmitButton">Submit</button>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Forgot Password</button>
                  </div>
                </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- #################################### End Banner Section ############################## -->

<!-- #################################### Start About Section ############################## -->
<div class="padding">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <img class ="about-img" src="/img/dog-bone-silhouette-1.png" alt="About Area Image">
    </div>
    <div class="col-sm-6 text-center">
      <h2>What is Woofer?</h2>
      <p class="lead">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
        It has survived not only five centuries, but also the leap into electronic typesetting, 
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
        sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
        Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
  </div>

</div>
</div>

<!-- #################################### End Banner Section ############################## -->


<!-- #################################### Start What Section ############################## -->
<div class="padding">
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h4>New best friends for your best friend</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      </p>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <img src="/img/animal-friends.jpg" alt="New animal friends" class="img-responsive">

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <h4>Connect with fellow animal lovers in your area</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
        when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
      
      </p>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
      <img src="/img/Animal-lovers.jpg" alt="Meet animal lovers" class="img-responsive">

    </div>

  </div>
</div>
</div>
<!-- #################################### End What Section ############################## -->

<!-- #################################### Start Signup Section ############################## -->
<div class="padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="/img/LetsGetStarted.png" alt="About Area Image">
      </div>
      <div class="col-sm-6">
        <h4>Get Started!</h4>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
          when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
          It has survived not only five centuries, but also the leap into electronic typesetting, 
          remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
          sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
          Aldus PageMaker including versions of Lorem Ipsum.</p>
          <a href="#" class="btn btn-default btn-lg">Sign Up</a>
      </div>
    </div>
  
  </div>
  </div>

<script src='/js/loginModal.js'></script>
