 <div class="container" >
     <div style="display: flex; flex-direction: column;">
        <h1 style="color:lightcoral;"> Register</h1>
        <p style="color:lightcoral;">Please fill in this form to create an account.</p>
        
        <hr>
        
        <label for="name"><b style="color:lightcoral; font-size: 20px;">Name</b></label>
        <input type="text" placeholder="Enter Full Name" name="email" id="user-name" required>

        <label for="zipcode"><b style="color:lightcoral; font-size: 20px;">Zip Code</b></label>
        <input type="text" placeholder="Enter Your Zip Code" name="zipcode" id="user-zip" required>

        <label for="email"><b style="color:lightcoral; font-size: 20px;">Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" required>
    
        <label for="psw"><b style="color:lightcoral; font-size: 20px;">Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
    
        <label for="psw-repeat"><b style="color:lightcoral; font-size: 20px;">Repeat Password</b></label>
        <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
        <hr>
        <p style="color:lightcoral; font-size: 14px;">By creating an account you agree to our <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Terms & Privacy</a>.</p>
    
        <button type="submit" class="registerbtn">Register</button>
     </div>
      

      <div class="alert alert-danger" style="margin-top: 20px; display: none;" role="alert">
        Invalid Registration
    </div>

    <div class="alert alert-success" role="alert" style="margin-top: 20px; display: none;">
        You have succesfully made an account, please login below.
    </div>
    </div>
    
    <div class="container signin">
      <p style="color:lightcoral; font-size: 14px;">Already have an account? <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">Login</button>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                    <form>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="emailInput" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="passwordInput" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-primary" id="loginSubmitButton">Submit</button>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Forgot Password</button>
                      </div>
                    </form>
              </div>
            </div>
          </div>
        </div>
    </div>
  </form>

  <script src="/js/signup.js"></script>
  <script src='/js/loginModal.js'></script>