:root{
    --primary-color: #85dcb8;
    --header-color: #17A6A6;
    --text-color:#0d0d0d;
    --border-color:#96D9D9;
    --shadow-color:#0E5959;

    
}
body{
    font-family: geo;
    background:whitesmoke;
}
.main-menu{
    background-color:var(--header-color);
    color: var(--text-color);

}

.li{
    background-color:var(--primary-color);
}

/* end nav area */

/* Banner Area */

#banner-container{
    width: 100vw !important;
}
.banner-image{
    width: 600px;
    margin-top: 85px;

}
.site-main .site-banner .site-title h3{
    padding-top: 15%;
    padding-bottom:25px;
    font-weight: 500;
}
.site-title {
    margin-left: 2vw;
}
.site-main .site-banner .site-title h3::after{
    content:"";
    height:2px;
    width: 18vw;
    background:black;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main.site-banner.site-title h4{
    font-size: 1.5rem;
}
/* .site-main.site-banner.banner-image>img{
    padding: 7rem;
    width: 80rem;
} */
/* .resize {
    width: 400;
    height: auto;
} */

.button {
    padding: .8rem 2.2rem;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.button.primary-button {
    background: var(--primary-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--shadow-color);
}

.button.primary-button:hover{
    background: whitesmoke;
    background-clip: padding-box;
    color:black;
}
    
.button.primary-button::after{
    position: absolute;
    top: -2px; left:-2px;
    bottom: -2px; right: -2px;
    background: var(--primary-color);
    content:'';
    z-index: -1;
    border-radius: 4px;

}

.button .secondary-button{
    background: white;
    background-clip: padding-box;
    transition: background .6s ease;

}


/* End Banner Area */

 /* Start About Area */

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 50px /60px;
    letter-spacing: 21px;
}

.site-main .about-area .about-title .paragraph >p{
    padding: .4rem 0;

}

p.para{
    color: var(--text-color);
    font: normal 500 16px/25px;
}




 /* End About Area */

 /* Start Brand Area */

.site-main.brand-area{
    padding:1rem 20rem;
    margin-bottom: 4rem;
}

.site-main.brand-area.first-row.col-lg-4{
    display:flex;
    justify-content: center;

}

.single-brand{
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: .9rem 0;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}

.site-main.brand-area.first-row.col-lg-4 > .single-brand .img{
    width: 50%;
}

.single-brand:hover{

box-shadow: var(--shadow-color);

}



 /* End Brand area */

 /* Projects Area */

.projects-area {
    padding: 7rem 2rem;
}
.projects-title {
    padding: 0 14rem;
}
.card-title{
    padding-top: 20px;
}
.projects-title h1{
    font-size: 35px;
}
.projects{
    background-color:rgba(248,252, 253, 0.973);
    padding:2rem, 0;
    width: 16rem;
    margin:5rem, .5rem;
    transition: box-shadow .7s ease;
}

.projects:hover{
    /* background:violet; */
    box-shadow: 5px 5px 2px var(--shadow-color) ;
    color: (var --text-color);
}

#card-image1{
    max-width: 200px;
    height: 100px;
    
}
#card-image2{
    max-width: 200px;
    height: 130px;
}
#card-image3{
    max-width: 200px;
    height: 130px;
}
.projects a > i{
    font-size: 40px;
    padding: 2rem;
    color: var(--primary-color);
}
 /* End Projects Area */
/* Footer Area */

footer .footer-area{
    padding: 5rem 0;
    background: url(../img/footer-bg.png) no-repeat;

}

footer .social h5{
    font: normal 500 23px/30px;

}

.social a > i{
    font-size: 40px;
    padding: 2rem;
    color: var(--primary-color);


}

.social a > i:hover{
    color: var(--shadow-color);
}
/* End Footer Area */